In [1]:
import os
import sys
import json
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from tqdm import tqdm
from collections import defaultdict, Counter
import os
import sys
import json
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from tqdm import tqdm
from collections import defaultdict, Counter

%matplotlib inline

In [2]:
path_to_df = '../data/Book/ratings_Books.csv'
df = pd.read_csv(path_to_df, names=['user_id', 'item_id', 'rating', 'timestamp'])
print(df.shape)

(22507155, 4)

In [3]:
df.head()

          user_id     item_id  rating   timestamp
0   AH2L9G3DQHHAJ  0000000116     4.0  1019865600
1  A2IIIDRK3PRRZY  0000000116     1.0  1395619200
2  A1TADCM7YWPQ8M  0000000868     4.0  1031702400
3   AWGH7V0BDOJKB  0000013714     4.0  1383177600
4  A3UTQPQPM4TQO0  0000013714     5.0  1374883200

In [4]:
df.isnull().sum()

user_id      0
item_id      0
rating       0
timestamp    0
dtype: int64

In [5]:
df.user_id.max(), df.user_id.unique().shape

('AZZZZCVMZCKUJ', (8026324,))

In [6]:
df.user_id = pd.factorize(df.user_id)[0] + 1
df.user_id.min(), df.user_id.max(), df.user_id.unique().shape

(1, 8026324, (8026324,))

In [7]:
df.item_id = pd.factorize(df.item_id)[0] + 1
df.item_id.min(), df.item_id.max(), df.item_id.unique().shape

(1, 2330066, (2330066,))

In [8]:
df.head()

   user_id  item_id  rating   timestamp
0        1        1     4.0  1019865600
1        2        1     1.0  1395619200
2        3        2     4.0  1031702400
3        4        3     4.0  1383177600
4        5        3     5.0  1374883200

In [10]:
data = []

for _, row in tqdm(df.iterrows()):
    data.append({
        'user_id': int(row.user_id),
        'item_id': int(row.item_id),
        'timestamp': int(row.timestamp)
    })

print(len(data))

22507155it [13:35, 27599.18it/s]

22507155

In [11]:
user_history = defaultdict(list)
item_history = defaultdict(list)

for row in tqdm(data):
    user_raw_id = row['user_id']
    item_raw_id = row['item_id']
    interaction_timestamp = row['timestamp']
    
    user_history[user_raw_id].append({'item_id': item_raw_id, 'timestamp': interaction_timestamp})
    item_history[item_raw_id].append({'user_id': user_raw_id, 'timestamp': interaction_timestamp})

is_changed = True
threshold = 5
good_users = set()
good_items = set()


while is_changed:
    old_state = (len(good_users), len(good_items))
    
    good_users = set()
    good_items = set()

    for user_id, history in user_history.items():
        if len(history) >= threshold:
            good_users.add(user_id)

    for item_id, history in item_history.items():
        if len(history) >= threshold:
            good_items.add(item_id)
    
    user_history = {
        user_id: list(filter(lambda x: x['item_id'] in good_items, history))
        for user_id, history in user_history.items()
    }
    
    item_history = {
        item_id: list(filter(lambda x: x['user_id'] in good_users, history))
        for item_id, history in item_history.items()
    }
    
    new_state = (len(good_users), len(good_items))
    is_changed = (old_state != new_state)
    print(old_state, new_state)

100%|██████████████████████████████████████████████████████████████████| 22507155/22507155 [01:28<00:00, 254650.54it/s]

(0, 0) (813534, 730167)
(813534, 730167) (694897, 413158)
(694897, 413158) (622735, 390951)
(622735, 390951) (614138, 373651)
(614138, 373651) (606497, 371167)
(606497, 371167) (605322, 368888)
(605322, 368888) (604179, 368514)
(604179, 368514) (603977, 368161)
(603977, 368161) (603767, 368087)
(603767, 368087) (603716, 368023)
(603716, 368023) (603684, 368002)
(603684, 368002) (603676, 367992)
(603676, 367992) (603672, 367987)
(603672, 367987) (603669, 367983)
(603669, 367983) (603668, 367982)
(603668, 367982) (603668, 367982)

In [14]:
user_mapping = {}
item_mapping = {}
tmp_user_history = defaultdict(list)
tmp_item_history = defaultdict(list)

for user_id, history in tqdm(user_history.items()):
    processed_history = []

    for filtered_item in history:
        item_id = filtered_item['item_id']
        item_timestamp = filtered_item['timestamp']

        processed_item_id = item_mapping.get(item_id, len(item_mapping) + 1)
        item_mapping[item_id] = processed_item_id

        processed_history.append({'item_id': processed_item_id, 'timestamp': item_timestamp})
        
    if len(processed_history) >= threshold:
        processed_user_id = user_mapping.get(user_id, len(user_mapping) + 1)
        user_mapping[user_id] = processed_user_id

        tmp_user_history[processed_user_id] = sorted(processed_history, key=lambda x: x['timestamp'])

    
for item_id, history in tqdm(item_history.items()):
    processed_history = []

    for filtered_user in history:
        user_id = filtered_user['user_id']
        user_timestamp = filtered_user['timestamp']

        processed_user_id = user_mapping.get(user_id, len(user_mapping) + 1)
        user_mapping[user_id] = processed_user_id

        processed_history.append({'user_id': processed_user_id, 'timestamp': user_timestamp})

    if len(processed_history) >= threshold:
        processed_item_id = item_mapping.get(item_id, len(item_mapping) + 1)
        item_mapping[item_id] = processed_item_id

        tmp_item_history[processed_item_id] = sorted(processed_history, key=lambda x: x['timestamp'])

user_history = tmp_user_history
item_history = tmp_item_history

100%|████████████████████████████████████████████████████████████████████████| 603668/603668 [02:10<00:00, 4611.15it/s]
100%|████████████████████████████████████████████████████████████████████████| 367982/367982 [02:51<00:00, 2147.59it/s]

In [15]:
print('Users count:', len(user_mapping))
print('Items count:', len(item_mapping))
print('Actions count:', sum(list(map(lambda x: len(x), user_history.values()))))
print('Avg user history len:', np.mean(list(map(lambda x: len(x), user_history.values()))))
print('Avg item history len:', np.mean(list(map(lambda x: len(x), item_history.values()))))

Users count: 603668
Items count: 367982
Actions count: 8898041
Avg user history len: 14.739958056415116
Avg item history len: 24.180641987923323

In [17]:
with open('../data/Book/all_data.txt', 'w') as f:
    for user_id, item_history in user_history.items():
        f.write(' '.join([str(user_id)] + [
            str(item_event['item_id']) for item_event in sorted(item_history, key=lambda x: x['timestamp'])
        ]))
        f.write('\n')